.about-wrapper {
    /* margin-top: 10rem; */
    padding: 2rem;
 }
 
 .about-container{
    color: #fff;
 
 }
 
 .about-container > p {
    padding-top: 2rem;
    line-height: 20px;
 }
 
 .btn-wrapper {
    padding-top: 3rem;
    display: flex;
    gap: 5%;
 }
 
 
 
 /** ___________ Media queries________-- */
 /* for desktop  */
 @media screen and (min-width:576px) {
 .about-wrapper {
    width: 50%;
    margin: 10rem auto;

    /* border: 2px solid red; */
 }
 
 .about-container h1 {
   font-size: 24px;
 }

 .about-container p {
   font-size: 20px;
   line-height: 30px;

 }
 
 }