.s-wrapper {
  width: 100%;
}

.s-wrapper > h1 {
  text-align: center;
  color: #797575;
}

.s-container {
  width: 100%;
  gap: 5%;
}

.s-container .skills {
  width: 3.5rem;
  padding: 0.75rem 0.5rem;

  border-radius: 5px;
  background: #230315;
  box-shadow: 15px 15px 30px rgb(3, 3, 3), -15px -15px 30px rgb(6, 6, 6);
}

.s-container .skills:hover {
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
}

.s-container > img {
  display: none;
}

@media (min-width: 760px) {
  .s-container .skills {
    width: 5%;
    padding: 1rem;
  }
}
