nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #072340;
  color: #fff;
  padding: 2rem;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; 
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 600;
  cursor: pointer;
}



#navbar {
  display: flex;
  align-items: center;
  justify-content: center;  
}

#navbar li {
  list-style: none;
  padding: 0 20px;
}

#navbar li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 400;
  color: #fff;
  /* transition: 0.3s ease-in-out; */
}

#navbar li a:hover,
#navbar li a.active {
  cursor: pointer;
  border-bottom: 2px solid #6a0888;
}

#mobile {
  display: none;
  color: #fff;
}




/** ________________ MEDIA QUERY _______________ */
@media (max-width: 768px) {
  nav {
    background: none;
    padding: 1rem;
  }

  .logo{
 font-size: 10px;
  }


 
 
  
    #navbar {
      display: flex;
      flex-direction: column;  
      justify-content: space-between;
      align-items: center; 
      position: fixed;
      top: 70px; 
      right: 0;
      width: 300px;
      height: 50vh;
      padding: 40px 0 40px 20px;
      transform: translateX(100%); 
      background: rgba(91, 7, 7, 0.46);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      border: 1px solid rgba(91, 7, 7, 0.3);
      transition: transform 0.3s ease-in-out;  
    }
  


    
    .mobile-menu-open #navbar {
      transform: translateX(0); /* Slide in mobile menu */
    }
  






  #mobile {
    display: block;
    
    

  }

  #mobile i {
    font-size: 15px;
    cursor: pointer;
    /* z-index: 100; */
  }

  
}
