.footer-wrapper {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 3rem 3rem 0 0;
  background: #021023;
}

.f-container {
  color: #fff;
}

h1#title {
  margin-bottom: 1.5rem;
  text-align: center;
}

.contact-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact-icon-box {
  align-items: center;
  display: flex;
  gap: 1.5rem;
}

.contact-icon-box span {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  border-radius: 50%;
  padding: 0.5rem;
}

.contact-icon-box span i {
  color: rgb(9, 49, 95);
}


.copyright {
    color: #fff;
    text-align: center;
    padding: 1rem;
    background: rgb(35, 29, 29);
}



@media screen and (min-width: 576px) {
  /* .footer-wrapper {
    width: 80%;
    margin: 2rem auto;
  } */

  .footer-wrapper {
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 3rem 3rem 0 0;
    background: #021023;
  }


h1#title {
  margin-bottom: 3rem;
  text-align: center;
}

}
